/Fundamentos/Aritmetica/nbproject/private/
/Fundamentos/Aritmetica/build/
/Fundamentos/Caja/nbproject/private/
/Fundamentos/Caja/build/
/Fundamentos/Encapsulamiento/nbproject/private/
/Fundamentos/Encapsulamiento/build/
/Fundamentos/ContextoEstatico/nbproject/private/
/Fundamentos/ContextoEstatico/build/
